bifconveniosDES/App_WebReferences/wsConvenios/WSBIFConvenios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AnulaEnvioCobranzaIBS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_proceso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnulaEnvioCobranzaIBSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AnulaEnvioCobranzaIBSResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviaInformacionIBS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_proceso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviaInformacionIBSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnviaInformacionIBSResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneraCronogramaFuturo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_proceso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTipoFormatoArchivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSituacionTrabajador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneraCronogramaFuturoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GeneraCronogramaFuturoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportaDescuentoEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_proceso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNombreArchivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportaDescuentoEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportaDescuentoEmpresaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportaDescuentosEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_proceso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNombreArchivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTipoFormatoArchivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportaDescuentosEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImportaDescuentosEmpresaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaPagaresDeIBS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_ClienteIBS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAnio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pMes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pFecha_ProcesoAS400" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaPagaresDeIBSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaPagaresDeIBSResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportaPagaresDeIBS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_ClienteIBS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAnio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pMes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pFecha_ProcesoAS400" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportaPagaresDeIBSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportaPagaresDeIBSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesaBloqueo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNumeroLote" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesaBloqueoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcesaBloqueoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesaProrroga">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNumeroLote" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesaProrrogaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcesaProrrogaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarMotivoIBS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_proceso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAnio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pMes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarMotivoIBSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarMotivoIBSResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCabeceraCasillero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAnio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pMes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCabeceraCasilleroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCabeceraCasilleroResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDetalleCasillero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAnio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pMes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDetalleCasilleroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDetalleCasilleroResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AnulaEnvioCobranzaIBSSoapIn">
    <wsdl:part name="parameters" element="tns:AnulaEnvioCobranzaIBS" />
  </wsdl:message>
  <wsdl:message name="AnulaEnvioCobranzaIBSSoapOut">
    <wsdl:part name="parameters" element="tns:AnulaEnvioCobranzaIBSResponse" />
  </wsdl:message>
  <wsdl:message name="EnviaInformacionIBSSoapIn">
    <wsdl:part name="parameters" element="tns:EnviaInformacionIBS" />
  </wsdl:message>
  <wsdl:message name="EnviaInformacionIBSSoapOut">
    <wsdl:part name="parameters" element="tns:EnviaInformacionIBSResponse" />
  </wsdl:message>
  <wsdl:message name="GeneraCronogramaFuturoSoapIn">
    <wsdl:part name="parameters" element="tns:GeneraCronogramaFuturo" />
  </wsdl:message>
  <wsdl:message name="GeneraCronogramaFuturoSoapOut">
    <wsdl:part name="parameters" element="tns:GeneraCronogramaFuturoResponse" />
  </wsdl:message>
  <wsdl:message name="ImportaDescuentoEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:ImportaDescuentoEmpresa" />
  </wsdl:message>
  <wsdl:message name="ImportaDescuentoEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:ImportaDescuentoEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ImportaDescuentosEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:ImportaDescuentosEmpresa" />
  </wsdl:message>
  <wsdl:message name="ImportaDescuentosEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:ImportaDescuentosEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaPagaresDeIBSSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaPagaresDeIBS" />
  </wsdl:message>
  <wsdl:message name="ConsultaPagaresDeIBSSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaPagaresDeIBSResponse" />
  </wsdl:message>
  <wsdl:message name="ImportaPagaresDeIBSSoapIn">
    <wsdl:part name="parameters" element="tns:ImportaPagaresDeIBS" />
  </wsdl:message>
  <wsdl:message name="ImportaPagaresDeIBSSoapOut">
    <wsdl:part name="parameters" element="tns:ImportaPagaresDeIBSResponse" />
  </wsdl:message>
  <wsdl:message name="ProcesaBloqueoSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesaBloqueo" />
  </wsdl:message>
  <wsdl:message name="ProcesaBloqueoSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesaBloqueoResponse" />
  </wsdl:message>
  <wsdl:message name="ProcesaProrrogaSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesaProrroga" />
  </wsdl:message>
  <wsdl:message name="ProcesaProrrogaSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesaProrrogaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarMotivoIBSSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarMotivoIBS" />
  </wsdl:message>
  <wsdl:message name="ConsultarMotivoIBSSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarMotivoIBSResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCabeceraCasilleroSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCabeceraCasillero" />
  </wsdl:message>
  <wsdl:message name="ObtenerCabeceraCasilleroSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCabeceraCasilleroResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerDetalleCasilleroSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleCasillero" />
  </wsdl:message>
  <wsdl:message name="ObtenerDetalleCasilleroSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleCasilleroResponse" />
  </wsdl:message>
  <wsdl:message name="AnulaEnvioCobranzaIBSHttpGetIn">
    <wsdl:part name="pCodigo_proceso" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AnulaEnvioCobranzaIBSHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="EnviaInformacionIBSHttpGetIn">
    <wsdl:part name="pCodigo_proceso" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnviaInformacionIBSHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GeneraCronogramaFuturoHttpGetIn">
    <wsdl:part name="pCodigo_proceso" type="s:string" />
    <wsdl:part name="pTipoFormatoArchivo" type="s:string" />
    <wsdl:part name="pSituacionTrabajador" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GeneraCronogramaFuturoHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ImportaDescuentoEmpresaHttpGetIn">
    <wsdl:part name="pCodigo_proceso" type="s:string" />
    <wsdl:part name="pNombreArchivo" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ImportaDescuentoEmpresaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ImportaDescuentosEmpresaHttpGetIn">
    <wsdl:part name="pCodigo_proceso" type="s:string" />
    <wsdl:part name="pNombreArchivo" type="s:string" />
    <wsdl:part name="pTipoFormatoArchivo" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ImportaDescuentosEmpresaHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ConsultaPagaresDeIBSHttpGetIn">
    <wsdl:part name="pCodigo_ClienteIBS" type="s:string" />
    <wsdl:part name="pAnio" type="s:string" />
    <wsdl:part name="pMes" type="s:string" />
    <wsdl:part name="pFecha_ProcesoAS400" type="s:string" />
    <wsdl:part name="pCodigo_Cliente" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaPagaresDeIBSHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ImportaPagaresDeIBSHttpGetIn">
    <wsdl:part name="pCodigo_ClienteIBS" type="s:string" />
    <wsdl:part name="pAnio" type="s:string" />
    <wsdl:part name="pMes" type="s:string" />
    <wsdl:part name="pFecha_ProcesoAS400" type="s:string" />
    <wsdl:part name="pCodigo_Cliente" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ImportaPagaresDeIBSHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ProcesaBloqueoHttpGetIn">
    <wsdl:part name="pNumeroLote" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcesaBloqueoHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ProcesaProrrogaHttpGetIn">
    <wsdl:part name="pNumeroLote" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcesaProrrogaHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ConsultarMotivoIBSHttpGetIn">
    <wsdl:part name="pCodigo_proceso" type="s:string" />
    <wsdl:part name="pCodigo_Cliente" type="s:string" />
    <wsdl:part name="pAnio" type="s:string" />
    <wsdl:part name="pMes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarMotivoIBSHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ObtenerCabeceraCasilleroHttpGetIn">
    <wsdl:part name="pCodigo_Cliente" type="s:string" />
    <wsdl:part name="pAnio" type="s:string" />
    <wsdl:part name="pMes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerCabeceraCasilleroHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ObtenerDetalleCasilleroHttpGetIn">
    <wsdl:part name="pCodigo_Cliente" type="s:string" />
    <wsdl:part name="pAnio" type="s:string" />
    <wsdl:part name="pMes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDetalleCasilleroHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="AnulaEnvioCobranzaIBSHttpPostIn">
    <wsdl:part name="pCodigo_proceso" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AnulaEnvioCobranzaIBSHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="EnviaInformacionIBSHttpPostIn">
    <wsdl:part name="pCodigo_proceso" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnviaInformacionIBSHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GeneraCronogramaFuturoHttpPostIn">
    <wsdl:part name="pCodigo_proceso" type="s:string" />
    <wsdl:part name="pTipoFormatoArchivo" type="s:string" />
    <wsdl:part name="pSituacionTrabajador" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GeneraCronogramaFuturoHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ImportaDescuentoEmpresaHttpPostIn">
    <wsdl:part name="pCodigo_proceso" type="s:string" />
    <wsdl:part name="pNombreArchivo" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ImportaDescuentoEmpresaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ImportaDescuentosEmpresaHttpPostIn">
    <wsdl:part name="pCodigo_proceso" type="s:string" />
    <wsdl:part name="pNombreArchivo" type="s:string" />
    <wsdl:part name="pTipoFormatoArchivo" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ImportaDescuentosEmpresaHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ConsultaPagaresDeIBSHttpPostIn">
    <wsdl:part name="pCodigo_ClienteIBS" type="s:string" />
    <wsdl:part name="pAnio" type="s:string" />
    <wsdl:part name="pMes" type="s:string" />
    <wsdl:part name="pFecha_ProcesoAS400" type="s:string" />
    <wsdl:part name="pCodigo_Cliente" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaPagaresDeIBSHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ImportaPagaresDeIBSHttpPostIn">
    <wsdl:part name="pCodigo_ClienteIBS" type="s:string" />
    <wsdl:part name="pAnio" type="s:string" />
    <wsdl:part name="pMes" type="s:string" />
    <wsdl:part name="pFecha_ProcesoAS400" type="s:string" />
    <wsdl:part name="pCodigo_Cliente" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ImportaPagaresDeIBSHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ProcesaBloqueoHttpPostIn">
    <wsdl:part name="pNumeroLote" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcesaBloqueoHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ProcesaProrrogaHttpPostIn">
    <wsdl:part name="pNumeroLote" type="s:string" />
    <wsdl:part name="pUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcesaProrrogaHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ConsultarMotivoIBSHttpPostIn">
    <wsdl:part name="pCodigo_proceso" type="s:string" />
    <wsdl:part name="pCodigo_Cliente" type="s:string" />
    <wsdl:part name="pAnio" type="s:string" />
    <wsdl:part name="pMes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarMotivoIBSHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ObtenerCabeceraCasilleroHttpPostIn">
    <wsdl:part name="pCodigo_Cliente" type="s:string" />
    <wsdl:part name="pAnio" type="s:string" />
    <wsdl:part name="pMes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerCabeceraCasilleroHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ObtenerDetalleCasilleroHttpPostIn">
    <wsdl:part name="pCodigo_Cliente" type="s:string" />
    <wsdl:part name="pAnio" type="s:string" />
    <wsdl:part name="pMes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDetalleCasilleroHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="WSBIFConveniosSoap">
    <wsdl:operation name="AnulaEnvioCobranzaIBS">
      <wsdl:input message="tns:AnulaEnvioCobranzaIBSSoapIn" />
      <wsdl:output message="tns:AnulaEnvioCobranzaIBSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviaInformacionIBS">
      <wsdl:input message="tns:EnviaInformacionIBSSoapIn" />
      <wsdl:output message="tns:EnviaInformacionIBSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneraCronogramaFuturo">
      <wsdl:input message="tns:GeneraCronogramaFuturoSoapIn" />
      <wsdl:output message="tns:GeneraCronogramaFuturoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentoEmpresa">
      <wsdl:input message="tns:ImportaDescuentoEmpresaSoapIn" />
      <wsdl:output message="tns:ImportaDescuentoEmpresaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentosEmpresa">
      <wsdl:input message="tns:ImportaDescuentosEmpresaSoapIn" />
      <wsdl:output message="tns:ImportaDescuentosEmpresaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaPagaresDeIBS">
      <wsdl:input message="tns:ConsultaPagaresDeIBSSoapIn" />
      <wsdl:output message="tns:ConsultaPagaresDeIBSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportaPagaresDeIBS">
      <wsdl:input message="tns:ImportaPagaresDeIBSSoapIn" />
      <wsdl:output message="tns:ImportaPagaresDeIBSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcesaBloqueo">
      <wsdl:input message="tns:ProcesaBloqueoSoapIn" />
      <wsdl:output message="tns:ProcesaBloqueoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcesaProrroga">
      <wsdl:input message="tns:ProcesaProrrogaSoapIn" />
      <wsdl:output message="tns:ProcesaProrrogaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarMotivoIBS">
      <wsdl:input message="tns:ConsultarMotivoIBSSoapIn" />
      <wsdl:output message="tns:ConsultarMotivoIBSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCabeceraCasillero">
      <wsdl:input message="tns:ObtenerCabeceraCasilleroSoapIn" />
      <wsdl:output message="tns:ObtenerCabeceraCasilleroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleCasillero">
      <wsdl:input message="tns:ObtenerDetalleCasilleroSoapIn" />
      <wsdl:output message="tns:ObtenerDetalleCasilleroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSBIFConveniosHttpGet">
    <wsdl:operation name="AnulaEnvioCobranzaIBS">
      <wsdl:input message="tns:AnulaEnvioCobranzaIBSHttpGetIn" />
      <wsdl:output message="tns:AnulaEnvioCobranzaIBSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviaInformacionIBS">
      <wsdl:input message="tns:EnviaInformacionIBSHttpGetIn" />
      <wsdl:output message="tns:EnviaInformacionIBSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneraCronogramaFuturo">
      <wsdl:input message="tns:GeneraCronogramaFuturoHttpGetIn" />
      <wsdl:output message="tns:GeneraCronogramaFuturoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentoEmpresa">
      <wsdl:input message="tns:ImportaDescuentoEmpresaHttpGetIn" />
      <wsdl:output message="tns:ImportaDescuentoEmpresaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentosEmpresa">
      <wsdl:input message="tns:ImportaDescuentosEmpresaHttpGetIn" />
      <wsdl:output message="tns:ImportaDescuentosEmpresaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaPagaresDeIBS">
      <wsdl:input message="tns:ConsultaPagaresDeIBSHttpGetIn" />
      <wsdl:output message="tns:ConsultaPagaresDeIBSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportaPagaresDeIBS">
      <wsdl:input message="tns:ImportaPagaresDeIBSHttpGetIn" />
      <wsdl:output message="tns:ImportaPagaresDeIBSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcesaBloqueo">
      <wsdl:input message="tns:ProcesaBloqueoHttpGetIn" />
      <wsdl:output message="tns:ProcesaBloqueoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcesaProrroga">
      <wsdl:input message="tns:ProcesaProrrogaHttpGetIn" />
      <wsdl:output message="tns:ProcesaProrrogaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarMotivoIBS">
      <wsdl:input message="tns:ConsultarMotivoIBSHttpGetIn" />
      <wsdl:output message="tns:ConsultarMotivoIBSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCabeceraCasillero">
      <wsdl:input message="tns:ObtenerCabeceraCasilleroHttpGetIn" />
      <wsdl:output message="tns:ObtenerCabeceraCasilleroHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleCasillero">
      <wsdl:input message="tns:ObtenerDetalleCasilleroHttpGetIn" />
      <wsdl:output message="tns:ObtenerDetalleCasilleroHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSBIFConveniosHttpPost">
    <wsdl:operation name="AnulaEnvioCobranzaIBS">
      <wsdl:input message="tns:AnulaEnvioCobranzaIBSHttpPostIn" />
      <wsdl:output message="tns:AnulaEnvioCobranzaIBSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviaInformacionIBS">
      <wsdl:input message="tns:EnviaInformacionIBSHttpPostIn" />
      <wsdl:output message="tns:EnviaInformacionIBSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneraCronogramaFuturo">
      <wsdl:input message="tns:GeneraCronogramaFuturoHttpPostIn" />
      <wsdl:output message="tns:GeneraCronogramaFuturoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentoEmpresa">
      <wsdl:input message="tns:ImportaDescuentoEmpresaHttpPostIn" />
      <wsdl:output message="tns:ImportaDescuentoEmpresaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentosEmpresa">
      <wsdl:input message="tns:ImportaDescuentosEmpresaHttpPostIn" />
      <wsdl:output message="tns:ImportaDescuentosEmpresaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaPagaresDeIBS">
      <wsdl:input message="tns:ConsultaPagaresDeIBSHttpPostIn" />
      <wsdl:output message="tns:ConsultaPagaresDeIBSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportaPagaresDeIBS">
      <wsdl:input message="tns:ImportaPagaresDeIBSHttpPostIn" />
      <wsdl:output message="tns:ImportaPagaresDeIBSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcesaBloqueo">
      <wsdl:input message="tns:ProcesaBloqueoHttpPostIn" />
      <wsdl:output message="tns:ProcesaBloqueoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcesaProrroga">
      <wsdl:input message="tns:ProcesaProrrogaHttpPostIn" />
      <wsdl:output message="tns:ProcesaProrrogaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarMotivoIBS">
      <wsdl:input message="tns:ConsultarMotivoIBSHttpPostIn" />
      <wsdl:output message="tns:ConsultarMotivoIBSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCabeceraCasillero">
      <wsdl:input message="tns:ObtenerCabeceraCasilleroHttpPostIn" />
      <wsdl:output message="tns:ObtenerCabeceraCasilleroHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleCasillero">
      <wsdl:input message="tns:ObtenerDetalleCasilleroHttpPostIn" />
      <wsdl:output message="tns:ObtenerDetalleCasilleroHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSBIFConveniosSoap" type="tns:WSBIFConveniosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AnulaEnvioCobranzaIBS">
      <soap:operation soapAction="http://tempuri.org/AnulaEnvioCobranzaIBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaInformacionIBS">
      <soap:operation soapAction="http://tempuri.org/EnviaInformacionIBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraCronogramaFuturo">
      <soap:operation soapAction="http://tempuri.org/GeneraCronogramaFuturo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentoEmpresa">
      <soap:operation soapAction="http://tempuri.org/ImportaDescuentoEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentosEmpresa">
      <soap:operation soapAction="http://tempuri.org/ImportaDescuentosEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaPagaresDeIBS">
      <soap:operation soapAction="http://tempuri.org/ConsultaPagaresDeIBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaPagaresDeIBS">
      <soap:operation soapAction="http://tempuri.org/ImportaPagaresDeIBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaBloqueo">
      <soap:operation soapAction="http://tempuri.org/ProcesaBloqueo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaProrroga">
      <soap:operation soapAction="http://tempuri.org/ProcesaProrroga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMotivoIBS">
      <soap:operation soapAction="http://tempuri.org/ConsultarMotivoIBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCabeceraCasillero">
      <soap:operation soapAction="http://tempuri.org/ObtenerCabeceraCasillero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleCasillero">
      <soap:operation soapAction="http://tempuri.org/ObtenerDetalleCasillero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSBIFConveniosSoap12" type="tns:WSBIFConveniosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AnulaEnvioCobranzaIBS">
      <soap12:operation soapAction="http://tempuri.org/AnulaEnvioCobranzaIBS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaInformacionIBS">
      <soap12:operation soapAction="http://tempuri.org/EnviaInformacionIBS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraCronogramaFuturo">
      <soap12:operation soapAction="http://tempuri.org/GeneraCronogramaFuturo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentoEmpresa">
      <soap12:operation soapAction="http://tempuri.org/ImportaDescuentoEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentosEmpresa">
      <soap12:operation soapAction="http://tempuri.org/ImportaDescuentosEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaPagaresDeIBS">
      <soap12:operation soapAction="http://tempuri.org/ConsultaPagaresDeIBS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaPagaresDeIBS">
      <soap12:operation soapAction="http://tempuri.org/ImportaPagaresDeIBS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaBloqueo">
      <soap12:operation soapAction="http://tempuri.org/ProcesaBloqueo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaProrroga">
      <soap12:operation soapAction="http://tempuri.org/ProcesaProrroga" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMotivoIBS">
      <soap12:operation soapAction="http://tempuri.org/ConsultarMotivoIBS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCabeceraCasillero">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCabeceraCasillero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleCasillero">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDetalleCasillero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSBIFConveniosHttpGet" type="tns:WSBIFConveniosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AnulaEnvioCobranzaIBS">
      <http:operation location="/AnulaEnvioCobranzaIBS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaInformacionIBS">
      <http:operation location="/EnviaInformacionIBS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraCronogramaFuturo">
      <http:operation location="/GeneraCronogramaFuturo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentoEmpresa">
      <http:operation location="/ImportaDescuentoEmpresa" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentosEmpresa">
      <http:operation location="/ImportaDescuentosEmpresa" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaPagaresDeIBS">
      <http:operation location="/ConsultaPagaresDeIBS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaPagaresDeIBS">
      <http:operation location="/ImportaPagaresDeIBS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaBloqueo">
      <http:operation location="/ProcesaBloqueo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaProrroga">
      <http:operation location="/ProcesaProrroga" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMotivoIBS">
      <http:operation location="/ConsultarMotivoIBS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCabeceraCasillero">
      <http:operation location="/ObtenerCabeceraCasillero" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleCasillero">
      <http:operation location="/ObtenerDetalleCasillero" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSBIFConveniosHttpPost" type="tns:WSBIFConveniosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AnulaEnvioCobranzaIBS">
      <http:operation location="/AnulaEnvioCobranzaIBS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaInformacionIBS">
      <http:operation location="/EnviaInformacionIBS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraCronogramaFuturo">
      <http:operation location="/GeneraCronogramaFuturo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentoEmpresa">
      <http:operation location="/ImportaDescuentoEmpresa" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentosEmpresa">
      <http:operation location="/ImportaDescuentosEmpresa" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaPagaresDeIBS">
      <http:operation location="/ConsultaPagaresDeIBS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaPagaresDeIBS">
      <http:operation location="/ImportaPagaresDeIBS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaBloqueo">
      <http:operation location="/ProcesaBloqueo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaProrroga">
      <http:operation location="/ProcesaProrroga" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMotivoIBS">
      <http:operation location="/ConsultarMotivoIBS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCabeceraCasillero">
      <http:operation location="/ObtenerCabeceraCasillero" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleCasillero">
      <http:operation location="/ObtenerDetalleCasillero" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSBIFConvenios">
    <wsdl:port name="WSBIFConveniosSoap" binding="tns:WSBIFConveniosSoap">
      <soap:address location="http://localhost:63066/WSbifconveniosDES/WSBIFConvenios.asmx" />
    </wsdl:port>
    <wsdl:port name="WSBIFConveniosSoap12" binding="tns:WSBIFConveniosSoap12">
      <soap12:address location="http://localhost:63066/WSbifconveniosDES/WSBIFConvenios.asmx" />
    </wsdl:port>
    <wsdl:port name="WSBIFConveniosHttpGet" binding="tns:WSBIFConveniosHttpGet">
      <http:address location="http://localhost:63066/WSbifconveniosDES/WSBIFConvenios.asmx" />
    </wsdl:port>
    <wsdl:port name="WSBIFConveniosHttpPost" binding="tns:WSBIFConveniosHttpPost">
      <http:address location="http://localhost:63066/WSbifconveniosDES/WSBIFConvenios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>