bifconveniosDES/java/Desa/BIF2CONVENIOS10/BIFConvenios/App_WebReferences/wsConvenios/wsAlertasAutomaticas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcesarAlerta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintCodigoProcesoAutomatico" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrCodigoCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrUsuario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pintEstado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesarAlertaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcesarAlertaResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pintEstado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcesarAlertaSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesarAlerta" />
  </wsdl:message>
  <wsdl:message name="ProcesarAlertaSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesarAlertaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsAlertasAutomaticasSoap">
    <wsdl:operation name="ProcesarAlerta">
      <wsdl:input message="tns:ProcesarAlertaSoapIn" />
      <wsdl:output message="tns:ProcesarAlertaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsAlertasAutomaticasSoap" type="tns:wsAlertasAutomaticasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcesarAlerta">
      <soap:operation soapAction="http://tempuri.org/ProcesarAlerta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsAlertasAutomaticasSoap12" type="tns:wsAlertasAutomaticasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcesarAlerta">
      <soap12:operation soapAction="http://tempuri.org/ProcesarAlerta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsAlertasAutomaticas">
    <wsdl:port name="wsAlertasAutomaticasSoap" binding="tns:wsAlertasAutomaticasSoap">
      <soap:address location="http://localhost:5750/wsBIFConvenios/wsAlertasAutomaticas.asmx" />
    </wsdl:port>
    <wsdl:port name="wsAlertasAutomaticasSoap12" binding="tns:wsAlertasAutomaticasSoap12">
      <soap12:address location="http://localhost:5750/wsBIFConvenios/wsAlertasAutomaticas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>