bifconveniosDES/java/Desa/BIF2CONVENIOS10/BIFConvenios/App_WebReferences/wsConvenios/WSBIFConvenios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AnulaEnvioCobranzaIBS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_proceso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnulaEnvioCobranzaIBSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AnulaEnvioCobranzaIBSResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviaInformacionIBS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_proceso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviaInformacionIBSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnviaInformacionIBSResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneraCronogramaFuturo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_proceso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTipoFormatoArchivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSituacionTrabajador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneraCronogramaFuturoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GeneraCronogramaFuturoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportaDescuentoEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_proceso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNombreArchivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportaDescuentoEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportaDescuentoEmpresaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportaDescuentosEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_proceso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNombreArchivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTipoFormatoArchivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportaDescuentosEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImportaDescuentosEmpresaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaPagaresDeIBS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_ClienteIBS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAnio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pMes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pFecha_ProcesoAS400" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaPagaresDeIBSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaPagaresDeIBSResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportaPagaresDeIBS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_ClienteIBS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAnio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pMes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pFecha_ProcesoAS400" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportaPagaresDeIBSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportaPagaresDeIBSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesaBloqueo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNumeroLote" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesaBloqueoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcesaBloqueoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesaProrroga">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNumeroLote" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesaProrrogaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcesaProrrogaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarMotivoIBS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_proceso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAnio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pMes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarMotivoIBSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarMotivoIBSResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCabeceraCasillero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAnio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pMes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCabeceraCasilleroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCabeceraCasilleroResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDetalleCasillero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAnio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pMes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDetalleCasilleroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDetalleCasilleroResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AnulaEnvioCobranzaIBSSoapIn">
    <wsdl:part name="parameters" element="tns:AnulaEnvioCobranzaIBS" />
  </wsdl:message>
  <wsdl:message name="AnulaEnvioCobranzaIBSSoapOut">
    <wsdl:part name="parameters" element="tns:AnulaEnvioCobranzaIBSResponse" />
  </wsdl:message>
  <wsdl:message name="EnviaInformacionIBSSoapIn">
    <wsdl:part name="parameters" element="tns:EnviaInformacionIBS" />
  </wsdl:message>
  <wsdl:message name="EnviaInformacionIBSSoapOut">
    <wsdl:part name="parameters" element="tns:EnviaInformacionIBSResponse" />
  </wsdl:message>
  <wsdl:message name="GeneraCronogramaFuturoSoapIn">
    <wsdl:part name="parameters" element="tns:GeneraCronogramaFuturo" />
  </wsdl:message>
  <wsdl:message name="GeneraCronogramaFuturoSoapOut">
    <wsdl:part name="parameters" element="tns:GeneraCronogramaFuturoResponse" />
  </wsdl:message>
  <wsdl:message name="ImportaDescuentoEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:ImportaDescuentoEmpresa" />
  </wsdl:message>
  <wsdl:message name="ImportaDescuentoEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:ImportaDescuentoEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ImportaDescuentosEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:ImportaDescuentosEmpresa" />
  </wsdl:message>
  <wsdl:message name="ImportaDescuentosEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:ImportaDescuentosEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaPagaresDeIBSSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaPagaresDeIBS" />
  </wsdl:message>
  <wsdl:message name="ConsultaPagaresDeIBSSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaPagaresDeIBSResponse" />
  </wsdl:message>
  <wsdl:message name="ImportaPagaresDeIBSSoapIn">
    <wsdl:part name="parameters" element="tns:ImportaPagaresDeIBS" />
  </wsdl:message>
  <wsdl:message name="ImportaPagaresDeIBSSoapOut">
    <wsdl:part name="parameters" element="tns:ImportaPagaresDeIBSResponse" />
  </wsdl:message>
  <wsdl:message name="ProcesaBloqueoSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesaBloqueo" />
  </wsdl:message>
  <wsdl:message name="ProcesaBloqueoSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesaBloqueoResponse" />
  </wsdl:message>
  <wsdl:message name="ProcesaProrrogaSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesaProrroga" />
  </wsdl:message>
  <wsdl:message name="ProcesaProrrogaSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesaProrrogaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarMotivoIBSSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarMotivoIBS" />
  </wsdl:message>
  <wsdl:message name="ConsultarMotivoIBSSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarMotivoIBSResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCabeceraCasilleroSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCabeceraCasillero" />
  </wsdl:message>
  <wsdl:message name="ObtenerCabeceraCasilleroSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCabeceraCasilleroResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerDetalleCasilleroSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleCasillero" />
  </wsdl:message>
  <wsdl:message name="ObtenerDetalleCasilleroSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleCasilleroResponse" />
  </wsdl:message>
  <wsdl:portType name="WSBIFConveniosSoap">
    <wsdl:operation name="AnulaEnvioCobranzaIBS">
      <wsdl:input message="tns:AnulaEnvioCobranzaIBSSoapIn" />
      <wsdl:output message="tns:AnulaEnvioCobranzaIBSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviaInformacionIBS">
      <wsdl:input message="tns:EnviaInformacionIBSSoapIn" />
      <wsdl:output message="tns:EnviaInformacionIBSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneraCronogramaFuturo">
      <wsdl:input message="tns:GeneraCronogramaFuturoSoapIn" />
      <wsdl:output message="tns:GeneraCronogramaFuturoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentoEmpresa">
      <wsdl:input message="tns:ImportaDescuentoEmpresaSoapIn" />
      <wsdl:output message="tns:ImportaDescuentoEmpresaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentosEmpresa">
      <wsdl:input message="tns:ImportaDescuentosEmpresaSoapIn" />
      <wsdl:output message="tns:ImportaDescuentosEmpresaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaPagaresDeIBS">
      <wsdl:input message="tns:ConsultaPagaresDeIBSSoapIn" />
      <wsdl:output message="tns:ConsultaPagaresDeIBSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportaPagaresDeIBS">
      <wsdl:input message="tns:ImportaPagaresDeIBSSoapIn" />
      <wsdl:output message="tns:ImportaPagaresDeIBSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcesaBloqueo">
      <wsdl:input message="tns:ProcesaBloqueoSoapIn" />
      <wsdl:output message="tns:ProcesaBloqueoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcesaProrroga">
      <wsdl:input message="tns:ProcesaProrrogaSoapIn" />
      <wsdl:output message="tns:ProcesaProrrogaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarMotivoIBS">
      <wsdl:input message="tns:ConsultarMotivoIBSSoapIn" />
      <wsdl:output message="tns:ConsultarMotivoIBSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCabeceraCasillero">
      <wsdl:input message="tns:ObtenerCabeceraCasilleroSoapIn" />
      <wsdl:output message="tns:ObtenerCabeceraCasilleroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleCasillero">
      <wsdl:input message="tns:ObtenerDetalleCasilleroSoapIn" />
      <wsdl:output message="tns:ObtenerDetalleCasilleroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSBIFConveniosSoap" type="tns:WSBIFConveniosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AnulaEnvioCobranzaIBS">
      <soap:operation soapAction="http://tempuri.org/AnulaEnvioCobranzaIBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaInformacionIBS">
      <soap:operation soapAction="http://tempuri.org/EnviaInformacionIBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraCronogramaFuturo">
      <soap:operation soapAction="http://tempuri.org/GeneraCronogramaFuturo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentoEmpresa">
      <soap:operation soapAction="http://tempuri.org/ImportaDescuentoEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentosEmpresa">
      <soap:operation soapAction="http://tempuri.org/ImportaDescuentosEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaPagaresDeIBS">
      <soap:operation soapAction="http://tempuri.org/ConsultaPagaresDeIBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaPagaresDeIBS">
      <soap:operation soapAction="http://tempuri.org/ImportaPagaresDeIBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaBloqueo">
      <soap:operation soapAction="http://tempuri.org/ProcesaBloqueo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaProrroga">
      <soap:operation soapAction="http://tempuri.org/ProcesaProrroga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMotivoIBS">
      <soap:operation soapAction="http://tempuri.org/ConsultarMotivoIBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCabeceraCasillero">
      <soap:operation soapAction="http://tempuri.org/ObtenerCabeceraCasillero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleCasillero">
      <soap:operation soapAction="http://tempuri.org/ObtenerDetalleCasillero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSBIFConveniosSoap12" type="tns:WSBIFConveniosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AnulaEnvioCobranzaIBS">
      <soap12:operation soapAction="http://tempuri.org/AnulaEnvioCobranzaIBS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaInformacionIBS">
      <soap12:operation soapAction="http://tempuri.org/EnviaInformacionIBS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraCronogramaFuturo">
      <soap12:operation soapAction="http://tempuri.org/GeneraCronogramaFuturo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentoEmpresa">
      <soap12:operation soapAction="http://tempuri.org/ImportaDescuentoEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaDescuentosEmpresa">
      <soap12:operation soapAction="http://tempuri.org/ImportaDescuentosEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaPagaresDeIBS">
      <soap12:operation soapAction="http://tempuri.org/ConsultaPagaresDeIBS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportaPagaresDeIBS">
      <soap12:operation soapAction="http://tempuri.org/ImportaPagaresDeIBS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaBloqueo">
      <soap12:operation soapAction="http://tempuri.org/ProcesaBloqueo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesaProrroga">
      <soap12:operation soapAction="http://tempuri.org/ProcesaProrroga" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMotivoIBS">
      <soap12:operation soapAction="http://tempuri.org/ConsultarMotivoIBS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCabeceraCasillero">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCabeceraCasillero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleCasillero">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDetalleCasillero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSBIFConvenios">
    <wsdl:port name="WSBIFConveniosSoap" binding="tns:WSBIFConveniosSoap">
      <soap:address location="http://localhost:5750/wsBIFConvenios/WSBIFConvenios.asmx" />
    </wsdl:port>
    <wsdl:port name="WSBIFConveniosSoap12" binding="tns:WSBIFConveniosSoap12">
      <soap12:address location="http://localhost:5750/wsBIFConvenios/WSBIFConvenios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>