ConsoleApplication1/Web References/wsPagoAutomatico/wsPagoAutomatico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcesarArchivos">
        <s:complexType />
      </s:element>
      <s:element name="ProcesarArchivosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcesarArchivosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcesarArchivosSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesarArchivos" />
  </wsdl:message>
  <wsdl:message name="ProcesarArchivosSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesarArchivosResponse" />
  </wsdl:message>
  <wsdl:portType name="wsPagoAutomaticoSoap">
    <wsdl:operation name="ProcesarArchivos">
      <wsdl:input message="tns:ProcesarArchivosSoapIn" />
      <wsdl:output message="tns:ProcesarArchivosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsPagoAutomaticoSoap" type="tns:wsPagoAutomaticoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcesarArchivos">
      <soap:operation soapAction="http://tempuri.org/ProcesarArchivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsPagoAutomaticoSoap12" type="tns:wsPagoAutomaticoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcesarArchivos">
      <soap12:operation soapAction="http://tempuri.org/ProcesarArchivos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsPagoAutomatico">
    <wsdl:port name="wsPagoAutomaticoSoap" binding="tns:wsPagoAutomaticoSoap">
      <soap:address location="http://localhost:63066/WSbifconveniosDES/wsPagoAutomatico.asmx" />
    </wsdl:port>
    <wsdl:port name="wsPagoAutomaticoSoap12" binding="tns:wsPagoAutomaticoSoap12">
      <soap12:address location="http://localhost:63066/WSbifconveniosDES/wsPagoAutomatico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>