BifConvenios/bifconveniosDES/App_WebReferences/wsAlertasAutomaticas/wsAlertasAutomaticas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51944/wsAlertasAutomaticas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Resource" />
  <xs:element name="RegistrarLogEventoSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrHilo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="penuNivel" type="xs:int" />
        <xs:element minOccurs="0" name="pstrAccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrMensaje" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrExcepcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarLogEventoSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarLogEventoSistemaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarLogEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintCodigoProcesoAutomatico" type="xs:int" />
        <xs:element minOccurs="0" name="pintCodigoCliente" type="xs:int" />
        <xs:element minOccurs="0" name="pintCodigoIBS" type="xs:int" />
        <xs:element minOccurs="0" name="penuTipoEnvio" type="xs:int" />
        <xs:element minOccurs="0" name="pstrCodigoProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pintAnioPeriodo" type="xs:int" />
        <xs:element minOccurs="0" name="pintMesPeriodo" type="xs:int" />
        <xs:element minOccurs="0" name="pstrMensaje" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Resource" minOccurs="0" name="penuEstado" type="q1:enumLogEnvioCorreo" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarLogEnvioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarLogEnvioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarLogProcesosAutomaticos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintTotal" type="xs:int" />
        <xs:element minOccurs="0" name="pintProcesados" type="xs:int" />
        <xs:element minOccurs="0" name="pintError" type="xs:int" />
        <xs:element minOccurs="0" name="pstrMensaje" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pintEstado" type="xs:int" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarLogProcesosAutomaticosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarLogProcesosAutomaticosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarLogProcesosAutomaticos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintCodigoProcesoAutomatico" type="xs:int" />
        <xs:element minOccurs="0" name="pintTotal" type="xs:int" />
        <xs:element minOccurs="0" name="pintProcesados" type="xs:int" />
        <xs:element minOccurs="0" name="pintError" type="xs:int" />
        <xs:element minOccurs="0" name="pstrMensaje" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pintEstado" type="xs:int" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarLogProcesosAutomaticosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarLogProcesosAutomaticosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertirBody">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrBody" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertirBodyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertirBodyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListClienteUltimoProceso">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListClienteUltimoProcesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerListClienteUltimoProcesoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarAlerta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintCodigoProcesoAutomatico" type="xs:int" />
        <xs:element minOccurs="0" name="pstrCodigoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pintAnioPeriodo" type="xs:int" />
        <xs:element minOccurs="0" name="pintMesPeriodo" type="xs:int" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pintEstado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarAlertaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcesarAlertaResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pintEstado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>