BifConvenios/bifconveniosDES/java/Desa/BIF2CONVENIOS10/BIFConvenios/App_WebReferences/wsReportesAutomatico/wsReportesAutomatico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EnviarReporteAutomaticoByFuncionario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintCodigoProcesoAutomatico" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintFuncionarioId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrNombreFuncionario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrCEFuncionario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrUsuario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pintEstado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarReporteAutomaticoByFuncionarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarReporteAutomaticoByFuncionarioResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pintEstado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportesAutomaticos">
        <s:complexType />
      </s:element>
      <s:element name="ReportesAutomaticosResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarReporteAutomaticoByFuncionarioSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarReporteAutomaticoByFuncionario" />
  </wsdl:message>
  <wsdl:message name="EnviarReporteAutomaticoByFuncionarioSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarReporteAutomaticoByFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="ReportesAutomaticosSoapIn">
    <wsdl:part name="parameters" element="tns:ReportesAutomaticos" />
  </wsdl:message>
  <wsdl:message name="ReportesAutomaticosSoapOut">
    <wsdl:part name="parameters" element="tns:ReportesAutomaticosResponse" />
  </wsdl:message>
  <wsdl:portType name="wsReportesAutomaticoSoap">
    <wsdl:operation name="EnviarReporteAutomaticoByFuncionario">
      <wsdl:input message="tns:EnviarReporteAutomaticoByFuncionarioSoapIn" />
      <wsdl:output message="tns:EnviarReporteAutomaticoByFuncionarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportesAutomaticos">
      <wsdl:input message="tns:ReportesAutomaticosSoapIn" />
      <wsdl:output message="tns:ReportesAutomaticosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsReportesAutomaticoSoap" type="tns:wsReportesAutomaticoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarReporteAutomaticoByFuncionario">
      <soap:operation soapAction="http://tempuri.org/EnviarReporteAutomaticoByFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportesAutomaticos">
      <soap:operation soapAction="http://tempuri.org/ReportesAutomaticos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsReportesAutomaticoSoap12" type="tns:wsReportesAutomaticoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarReporteAutomaticoByFuncionario">
      <soap12:operation soapAction="http://tempuri.org/EnviarReporteAutomaticoByFuncionario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportesAutomaticos">
      <soap12:operation soapAction="http://tempuri.org/ReportesAutomaticos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsReportesAutomatico">
    <wsdl:port name="wsReportesAutomaticoSoap" binding="tns:wsReportesAutomaticoSoap">
      <soap:address location="http://localhost:5750/wsBIFConvenios/wsReportesAutomatico.asmx" />
    </wsdl:port>
    <wsdl:port name="wsReportesAutomaticoSoap12" binding="tns:wsReportesAutomaticoSoap12">
      <soap12:address location="http://localhost:5750/wsBIFConvenios/wsReportesAutomatico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>