ConsoleApplication1/Web References/wsAlertasAutomaticas/wsAlertasAutomaticas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegistrarLogEventoSistema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrHilo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="penuNivel" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrAccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrMensaje" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrExcepcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarLogEventoSistemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistrarLogEventoSistemaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarLogEnvio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintCodigoProcesoAutomatico" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintCodigoCliente" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintCodigoIBS" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="penuTipoEnvio" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrCodigoProceso" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pintAnioPeriodo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintMesPeriodo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrMensaje" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="penuEstado" type="tns:enumLogEnvioCorreo" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="enumLogEnvioCorreo">
        <s:restriction base="s:string">
          <s:enumeration value="Enviado" />
          <s:enumeration value="Cancelado" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
      <s:element name="RegistrarLogEnvioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistrarLogEnvioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarLogProcesosAutomaticos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintTotal" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintProcesados" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrMensaje" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pintEstado" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarLogProcesosAutomaticosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistrarLogProcesosAutomaticosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarLogProcesosAutomaticos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintCodigoProcesoAutomatico" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintTotal" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintProcesados" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrMensaje" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pintEstado" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarLogProcesosAutomaticosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarLogProcesosAutomaticosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListClienteUltimoProceso">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerListClienteUltimoProcesoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListClienteUltimoProcesoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesarAlerta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintCodigoProcesoAutomatico" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrCodigoCliente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pintAnioPeriodo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintMesPeriodo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrUsuario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pintEstado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesarAlertaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcesarAlertaResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pintEstado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrarLogEventoSistemaSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarLogEventoSistema" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogEventoSistemaSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarLogEventoSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogEnvioSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarLogEnvio" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogEnvioSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarLogEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogProcesosAutomaticosSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarLogProcesosAutomaticos" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogProcesosAutomaticosSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarLogProcesosAutomaticosResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarLogProcesosAutomaticosSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarLogProcesosAutomaticos" />
  </wsdl:message>
  <wsdl:message name="ActualizarLogProcesosAutomaticosSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarLogProcesosAutomaticosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListClienteUltimoProcesoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListClienteUltimoProceso" />
  </wsdl:message>
  <wsdl:message name="ObtenerListClienteUltimoProcesoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListClienteUltimoProcesoResponse" />
  </wsdl:message>
  <wsdl:message name="ProcesarAlertaSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesarAlerta" />
  </wsdl:message>
  <wsdl:message name="ProcesarAlertaSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesarAlertaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsAlertasAutomaticasSoap">
    <wsdl:operation name="RegistrarLogEventoSistema">
      <wsdl:input message="tns:RegistrarLogEventoSistemaSoapIn" />
      <wsdl:output message="tns:RegistrarLogEventoSistemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogEnvio">
      <wsdl:input message="tns:RegistrarLogEnvioSoapIn" />
      <wsdl:output message="tns:RegistrarLogEnvioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogProcesosAutomaticos">
      <wsdl:input message="tns:RegistrarLogProcesosAutomaticosSoapIn" />
      <wsdl:output message="tns:RegistrarLogProcesosAutomaticosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarLogProcesosAutomaticos">
      <wsdl:input message="tns:ActualizarLogProcesosAutomaticosSoapIn" />
      <wsdl:output message="tns:ActualizarLogProcesosAutomaticosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListClienteUltimoProceso">
      <wsdl:input message="tns:ObtenerListClienteUltimoProcesoSoapIn" />
      <wsdl:output message="tns:ObtenerListClienteUltimoProcesoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcesarAlerta">
      <wsdl:input message="tns:ProcesarAlertaSoapIn" />
      <wsdl:output message="tns:ProcesarAlertaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsAlertasAutomaticasSoap" type="tns:wsAlertasAutomaticasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarLogEventoSistema">
      <soap:operation soapAction="http://tempuri.org/RegistrarLogEventoSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogEnvio">
      <soap:operation soapAction="http://tempuri.org/RegistrarLogEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogProcesosAutomaticos">
      <soap:operation soapAction="http://tempuri.org/RegistrarLogProcesosAutomaticos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarLogProcesosAutomaticos">
      <soap:operation soapAction="http://tempuri.org/ActualizarLogProcesosAutomaticos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListClienteUltimoProceso">
      <soap:operation soapAction="http://tempuri.org/ObtenerListClienteUltimoProceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesarAlerta">
      <soap:operation soapAction="http://tempuri.org/ProcesarAlerta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsAlertasAutomaticasSoap12" type="tns:wsAlertasAutomaticasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarLogEventoSistema">
      <soap12:operation soapAction="http://tempuri.org/RegistrarLogEventoSistema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogEnvio">
      <soap12:operation soapAction="http://tempuri.org/RegistrarLogEnvio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogProcesosAutomaticos">
      <soap12:operation soapAction="http://tempuri.org/RegistrarLogProcesosAutomaticos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarLogProcesosAutomaticos">
      <soap12:operation soapAction="http://tempuri.org/ActualizarLogProcesosAutomaticos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListClienteUltimoProceso">
      <soap12:operation soapAction="http://tempuri.org/ObtenerListClienteUltimoProceso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesarAlerta">
      <soap12:operation soapAction="http://tempuri.org/ProcesarAlerta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsAlertasAutomaticas">
    <wsdl:port name="wsAlertasAutomaticasSoap" binding="tns:wsAlertasAutomaticasSoap">
      <soap:address location="http://localhost:63066/WSbifconveniosDES/wsAlertasAutomaticas.asmx" />
    </wsdl:port>
    <wsdl:port name="wsAlertasAutomaticasSoap12" binding="tns:wsAlertasAutomaticasSoap12">
      <soap12:address location="http://localhost:63066/WSbifconveniosDES/wsAlertasAutomaticas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>