BifConvenios/bifconveniosDES/App_WebReferences/wsEnvioAutomatico/wsEnvioAutomatico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsEnvioAutomatico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51944/wsEnvioAutomatico.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51944/wsEnvioAutomatico.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51944/wsEnvioAutomatico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:51944/wsEnvioAutomatico.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Resource" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsEnvioAutomatico_ValidarFinProcesoBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarFinProcesoBatch" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_ValidarFinProcesoBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarFinProcesoBatchResponse" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_ObtenerListaProcesosDisponiblesByFecha_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaProcesosDisponiblesByFecha" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_ObtenerListaProcesosDisponiblesByFecha_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaProcesosDisponiblesByFechaResponse" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_ObtenerListaProcesosDisponibles_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaProcesosDisponibles" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_ObtenerListaProcesosDisponibles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaProcesosDisponiblesResponse" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_ProcesarEnvioNominasByCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarEnvioNominasByCliente" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_ProcesarEnvioNominasByCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarEnvioNominasByClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_ProcesarTodosClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarTodosClientes" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_ProcesarTodosClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarTodosClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_RegistrarLogEventoSistema_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarLogEventoSistema" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_RegistrarLogEventoSistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarLogEventoSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_RegistrarLogEnvio_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarLogEnvio" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_RegistrarLogEnvio_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarLogEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_RegistrarLogProcesosAutomaticos_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarLogProcesosAutomaticos" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_RegistrarLogProcesosAutomaticos_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarLogProcesosAutomaticosResponse" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_ActualizarLogProcesosAutomaticos_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarLogProcesosAutomaticos" />
  </wsdl:message>
  <wsdl:message name="IWsEnvioAutomatico_ActualizarLogProcesosAutomaticos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarLogProcesosAutomaticosResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsEnvioAutomatico">
    <wsdl:operation name="ValidarFinProcesoBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/ValidarFinProcesoBatch" message="tns:IWsEnvioAutomatico_ValidarFinProcesoBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/ValidarFinProcesoBatchResponse" message="tns:IWsEnvioAutomatico_ValidarFinProcesoBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaProcesosDisponiblesByFecha">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/ObtenerListaProcesosDisponiblesByFecha" message="tns:IWsEnvioAutomatico_ObtenerListaProcesosDisponiblesByFecha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/ObtenerListaProcesosDisponiblesByFechaResponse" message="tns:IWsEnvioAutomatico_ObtenerListaProcesosDisponiblesByFecha_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaProcesosDisponibles">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/ObtenerListaProcesosDisponibles" message="tns:IWsEnvioAutomatico_ObtenerListaProcesosDisponibles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/ObtenerListaProcesosDisponiblesResponse" message="tns:IWsEnvioAutomatico_ObtenerListaProcesosDisponibles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcesarEnvioNominasByCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/ProcesarEnvioNominasByCliente" message="tns:IWsEnvioAutomatico_ProcesarEnvioNominasByCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/ProcesarEnvioNominasByClienteResponse" message="tns:IWsEnvioAutomatico_ProcesarEnvioNominasByCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcesarTodosClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/ProcesarTodosClientes" message="tns:IWsEnvioAutomatico_ProcesarTodosClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/ProcesarTodosClientesResponse" message="tns:IWsEnvioAutomatico_ProcesarTodosClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogEventoSistema">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/RegistrarLogEventoSistema" message="tns:IWsEnvioAutomatico_RegistrarLogEventoSistema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/RegistrarLogEventoSistemaResponse" message="tns:IWsEnvioAutomatico_RegistrarLogEventoSistema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogEnvio">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/RegistrarLogEnvio" message="tns:IWsEnvioAutomatico_RegistrarLogEnvio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/RegistrarLogEnvioResponse" message="tns:IWsEnvioAutomatico_RegistrarLogEnvio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogProcesosAutomaticos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/RegistrarLogProcesosAutomaticos" message="tns:IWsEnvioAutomatico_RegistrarLogProcesosAutomaticos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/RegistrarLogProcesosAutomaticosResponse" message="tns:IWsEnvioAutomatico_RegistrarLogProcesosAutomaticos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarLogProcesosAutomaticos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/ActualizarLogProcesosAutomaticos" message="tns:IWsEnvioAutomatico_ActualizarLogProcesosAutomaticos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsEnvioAutomatico/ActualizarLogProcesosAutomaticosResponse" message="tns:IWsEnvioAutomatico_ActualizarLogProcesosAutomaticos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsEnvioAutomatico" type="tns:IWsEnvioAutomatico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarFinProcesoBatch">
      <soap:operation soapAction="http://tempuri.org/IWsEnvioAutomatico/ValidarFinProcesoBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaProcesosDisponiblesByFecha">
      <soap:operation soapAction="http://tempuri.org/IWsEnvioAutomatico/ObtenerListaProcesosDisponiblesByFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaProcesosDisponibles">
      <soap:operation soapAction="http://tempuri.org/IWsEnvioAutomatico/ObtenerListaProcesosDisponibles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesarEnvioNominasByCliente">
      <soap:operation soapAction="http://tempuri.org/IWsEnvioAutomatico/ProcesarEnvioNominasByCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesarTodosClientes">
      <soap:operation soapAction="http://tempuri.org/IWsEnvioAutomatico/ProcesarTodosClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogEventoSistema">
      <soap:operation soapAction="http://tempuri.org/IWsEnvioAutomatico/RegistrarLogEventoSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogEnvio">
      <soap:operation soapAction="http://tempuri.org/IWsEnvioAutomatico/RegistrarLogEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogProcesosAutomaticos">
      <soap:operation soapAction="http://tempuri.org/IWsEnvioAutomatico/RegistrarLogProcesosAutomaticos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarLogProcesosAutomaticos">
      <soap:operation soapAction="http://tempuri.org/IWsEnvioAutomatico/ActualizarLogProcesosAutomaticos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsEnvioAutomatico">
    <wsdl:port name="BasicHttpBinding_IWsEnvioAutomatico" binding="tns:BasicHttpBinding_IWsEnvioAutomatico">
      <soap:address location="http://localhost:51944/wsEnvioAutomatico.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>