BifConvenios/bifconveniosDES/App_WebReferences/wsReportesAutomatico/wsReportesAutomatico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsReportesAutomatico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51944/wsReportesAutomatico.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51944/wsReportesAutomatico.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51944/wsReportesAutomatico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Resource" />
      <xsd:import schemaLocation="http://localhost:51944/wsReportesAutomatico.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsReportesAutomatico_RegistrarLogEventoSistema_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarLogEventoSistema" />
  </wsdl:message>
  <wsdl:message name="IWsReportesAutomatico_RegistrarLogEventoSistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarLogEventoSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="IWsReportesAutomatico_RegistrarLogEnvio_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarLogEnvio" />
  </wsdl:message>
  <wsdl:message name="IWsReportesAutomatico_RegistrarLogEnvio_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarLogEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="IWsReportesAutomatico_RegistrarLogProcesosAutomaticos_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarLogProcesosAutomaticos" />
  </wsdl:message>
  <wsdl:message name="IWsReportesAutomatico_RegistrarLogProcesosAutomaticos_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarLogProcesosAutomaticosResponse" />
  </wsdl:message>
  <wsdl:message name="IWsReportesAutomatico_ActualizarLogProcesosAutomaticos_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarLogProcesosAutomaticos" />
  </wsdl:message>
  <wsdl:message name="IWsReportesAutomatico_ActualizarLogProcesosAutomaticos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarLogProcesosAutomaticosResponse" />
  </wsdl:message>
  <wsdl:message name="IWsReportesAutomatico_GetFuncionarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFuncionarios" />
  </wsdl:message>
  <wsdl:message name="IWsReportesAutomatico_GetFuncionarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFuncionariosResponse" />
  </wsdl:message>
  <wsdl:message name="IWsReportesAutomatico_EnviarReporteAutomaticoByFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarReporteAutomaticoByFuncionario" />
  </wsdl:message>
  <wsdl:message name="IWsReportesAutomatico_EnviarReporteAutomaticoByFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarReporteAutomaticoByFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWsReportesAutomatico_ReportesAutomaticos_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportesAutomaticos" />
  </wsdl:message>
  <wsdl:message name="IWsReportesAutomatico_ReportesAutomaticos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportesAutomaticosResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsReportesAutomatico">
    <wsdl:operation name="RegistrarLogEventoSistema">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsReportesAutomatico/RegistrarLogEventoSistema" message="tns:IWsReportesAutomatico_RegistrarLogEventoSistema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsReportesAutomatico/RegistrarLogEventoSistemaResponse" message="tns:IWsReportesAutomatico_RegistrarLogEventoSistema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogEnvio">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsReportesAutomatico/RegistrarLogEnvio" message="tns:IWsReportesAutomatico_RegistrarLogEnvio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsReportesAutomatico/RegistrarLogEnvioResponse" message="tns:IWsReportesAutomatico_RegistrarLogEnvio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogProcesosAutomaticos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsReportesAutomatico/RegistrarLogProcesosAutomaticos" message="tns:IWsReportesAutomatico_RegistrarLogProcesosAutomaticos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsReportesAutomatico/RegistrarLogProcesosAutomaticosResponse" message="tns:IWsReportesAutomatico_RegistrarLogProcesosAutomaticos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarLogProcesosAutomaticos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsReportesAutomatico/ActualizarLogProcesosAutomaticos" message="tns:IWsReportesAutomatico_ActualizarLogProcesosAutomaticos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsReportesAutomatico/ActualizarLogProcesosAutomaticosResponse" message="tns:IWsReportesAutomatico_ActualizarLogProcesosAutomaticos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFuncionarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsReportesAutomatico/GetFuncionarios" message="tns:IWsReportesAutomatico_GetFuncionarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsReportesAutomatico/GetFuncionariosResponse" message="tns:IWsReportesAutomatico_GetFuncionarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarReporteAutomaticoByFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsReportesAutomatico/EnviarReporteAutomaticoByFuncionario" message="tns:IWsReportesAutomatico_EnviarReporteAutomaticoByFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsReportesAutomatico/EnviarReporteAutomaticoByFuncionarioResponse" message="tns:IWsReportesAutomatico_EnviarReporteAutomaticoByFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportesAutomaticos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsReportesAutomatico/ReportesAutomaticos" message="tns:IWsReportesAutomatico_ReportesAutomaticos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsReportesAutomatico/ReportesAutomaticosResponse" message="tns:IWsReportesAutomatico_ReportesAutomaticos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsReportesAutomatico" type="tns:IWsReportesAutomatico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarLogEventoSistema">
      <soap:operation soapAction="http://tempuri.org/IWsReportesAutomatico/RegistrarLogEventoSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogEnvio">
      <soap:operation soapAction="http://tempuri.org/IWsReportesAutomatico/RegistrarLogEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogProcesosAutomaticos">
      <soap:operation soapAction="http://tempuri.org/IWsReportesAutomatico/RegistrarLogProcesosAutomaticos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarLogProcesosAutomaticos">
      <soap:operation soapAction="http://tempuri.org/IWsReportesAutomatico/ActualizarLogProcesosAutomaticos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFuncionarios">
      <soap:operation soapAction="http://tempuri.org/IWsReportesAutomatico/GetFuncionarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarReporteAutomaticoByFuncionario">
      <soap:operation soapAction="http://tempuri.org/IWsReportesAutomatico/EnviarReporteAutomaticoByFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportesAutomaticos">
      <soap:operation soapAction="http://tempuri.org/IWsReportesAutomatico/ReportesAutomaticos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsReportesAutomatico">
    <wsdl:port name="BasicHttpBinding_IWsReportesAutomatico" binding="tns:BasicHttpBinding_IWsReportesAutomatico">
      <soap:address location="http://localhost:51944/wsReportesAutomatico.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>