BifConvenios/bifconveniosDES/App_WebReferences/wsReportesAutomatico/wsReportesAutomatico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegistrarLogEventoSistema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrHilo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="penuNivel" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrAccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrMensaje" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrExcepcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarLogEventoSistemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistrarLogEventoSistemaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarLogEnvio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintCodigoProcesoAutomatico" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintCodigoCliente" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintCodigoIBS" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="penuTipoEnvio" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrCodigoProceso" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pintAnioPeriodo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintMesPeriodo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrMensaje" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="penuEstado" type="tns:enumLogEnvioCorreo" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="enumLogEnvioCorreo">
        <s:restriction base="s:string">
          <s:enumeration value="Enviado" />
          <s:enumeration value="Cancelado" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
      <s:element name="RegistrarLogEnvioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistrarLogEnvioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarLogProcesosAutomaticos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintTotal" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintProcesados" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrMensaje" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pintEstado" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarLogProcesosAutomaticosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistrarLogProcesosAutomaticosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarLogProcesosAutomaticos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintCodigoProcesoAutomatico" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintTotal" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintProcesados" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrMensaje" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pintEstado" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarLogProcesosAutomaticosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarLogProcesosAutomaticosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFuncionarios">
        <s:complexType />
      </s:element>
      <s:element name="GetFuncionariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFuncionariosResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarReporteAutomaticoByFuncionario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintCodigoProcesoAutomatico" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pintFuncionarioId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrNombreFuncionario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrCEFuncionario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrUsuario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pintEstado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarReporteAutomaticoByFuncionarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarReporteAutomaticoByFuncionarioResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pintEstado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportesAutomaticos">
        <s:complexType />
      </s:element>
      <s:element name="ReportesAutomaticosResponse">
        <s:complexType />
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrarLogEventoSistemaSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarLogEventoSistema" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogEventoSistemaSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarLogEventoSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogEnvioSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarLogEnvio" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogEnvioSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarLogEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogProcesosAutomaticosSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarLogProcesosAutomaticos" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogProcesosAutomaticosSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarLogProcesosAutomaticosResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarLogProcesosAutomaticosSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarLogProcesosAutomaticos" />
  </wsdl:message>
  <wsdl:message name="ActualizarLogProcesosAutomaticosSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarLogProcesosAutomaticosResponse" />
  </wsdl:message>
  <wsdl:message name="GetFuncionariosSoapIn">
    <wsdl:part name="parameters" element="tns:GetFuncionarios" />
  </wsdl:message>
  <wsdl:message name="GetFuncionariosSoapOut">
    <wsdl:part name="parameters" element="tns:GetFuncionariosResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarReporteAutomaticoByFuncionarioSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarReporteAutomaticoByFuncionario" />
  </wsdl:message>
  <wsdl:message name="EnviarReporteAutomaticoByFuncionarioSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarReporteAutomaticoByFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="ReportesAutomaticosSoapIn">
    <wsdl:part name="parameters" element="tns:ReportesAutomaticos" />
  </wsdl:message>
  <wsdl:message name="ReportesAutomaticosSoapOut">
    <wsdl:part name="parameters" element="tns:ReportesAutomaticosResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogEventoSistemaHttpGetIn">
    <wsdl:part name="pstrHilo" type="s:string" />
    <wsdl:part name="penuNivel" type="s:string" />
    <wsdl:part name="pstrAccion" type="s:string" />
    <wsdl:part name="pstrMensaje" type="s:string" />
    <wsdl:part name="pstrExcepcion" type="s:string" />
    <wsdl:part name="pstrUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogEventoSistemaHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogEnvioHttpGetIn">
    <wsdl:part name="pintCodigoProcesoAutomatico" type="s:string" />
    <wsdl:part name="pintCodigoCliente" type="s:string" />
    <wsdl:part name="pintCodigoIBS" type="s:string" />
    <wsdl:part name="penuTipoEnvio" type="s:string" />
    <wsdl:part name="pstrCodigoProceso" type="s:string" />
    <wsdl:part name="pintAnioPeriodo" type="s:string" />
    <wsdl:part name="pintMesPeriodo" type="s:string" />
    <wsdl:part name="pstrMensaje" type="s:string" />
    <wsdl:part name="penuEstado" type="s:string" />
    <wsdl:part name="pstrUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogEnvioHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogProcesosAutomaticosHttpGetIn">
    <wsdl:part name="pintTotal" type="s:string" />
    <wsdl:part name="pintProcesados" type="s:string" />
    <wsdl:part name="pintError" type="s:string" />
    <wsdl:part name="pstrMensaje" type="s:string" />
    <wsdl:part name="pintEstado" type="s:string" />
    <wsdl:part name="pstrUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogProcesosAutomaticosHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ActualizarLogProcesosAutomaticosHttpGetIn">
    <wsdl:part name="pintCodigoProcesoAutomatico" type="s:string" />
    <wsdl:part name="pintTotal" type="s:string" />
    <wsdl:part name="pintProcesados" type="s:string" />
    <wsdl:part name="pintError" type="s:string" />
    <wsdl:part name="pstrMensaje" type="s:string" />
    <wsdl:part name="pintEstado" type="s:string" />
    <wsdl:part name="pstrUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarLogProcesosAutomaticosHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetFuncionariosHttpGetIn" />
  <wsdl:message name="GetFuncionariosHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ReportesAutomaticosHttpGetIn" />
  <wsdl:message name="ReportesAutomaticosHttpGetOut" />
  <wsdl:message name="RegistrarLogEventoSistemaHttpPostIn">
    <wsdl:part name="pstrHilo" type="s:string" />
    <wsdl:part name="penuNivel" type="s:string" />
    <wsdl:part name="pstrAccion" type="s:string" />
    <wsdl:part name="pstrMensaje" type="s:string" />
    <wsdl:part name="pstrExcepcion" type="s:string" />
    <wsdl:part name="pstrUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogEventoSistemaHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogEnvioHttpPostIn">
    <wsdl:part name="pintCodigoProcesoAutomatico" type="s:string" />
    <wsdl:part name="pintCodigoCliente" type="s:string" />
    <wsdl:part name="pintCodigoIBS" type="s:string" />
    <wsdl:part name="penuTipoEnvio" type="s:string" />
    <wsdl:part name="pstrCodigoProceso" type="s:string" />
    <wsdl:part name="pintAnioPeriodo" type="s:string" />
    <wsdl:part name="pintMesPeriodo" type="s:string" />
    <wsdl:part name="pstrMensaje" type="s:string" />
    <wsdl:part name="penuEstado" type="s:string" />
    <wsdl:part name="pstrUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogEnvioHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogProcesosAutomaticosHttpPostIn">
    <wsdl:part name="pintTotal" type="s:string" />
    <wsdl:part name="pintProcesados" type="s:string" />
    <wsdl:part name="pintError" type="s:string" />
    <wsdl:part name="pstrMensaje" type="s:string" />
    <wsdl:part name="pintEstado" type="s:string" />
    <wsdl:part name="pstrUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegistrarLogProcesosAutomaticosHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ActualizarLogProcesosAutomaticosHttpPostIn">
    <wsdl:part name="pintCodigoProcesoAutomatico" type="s:string" />
    <wsdl:part name="pintTotal" type="s:string" />
    <wsdl:part name="pintProcesados" type="s:string" />
    <wsdl:part name="pintError" type="s:string" />
    <wsdl:part name="pstrMensaje" type="s:string" />
    <wsdl:part name="pintEstado" type="s:string" />
    <wsdl:part name="pstrUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ActualizarLogProcesosAutomaticosHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetFuncionariosHttpPostIn" />
  <wsdl:message name="GetFuncionariosHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ReportesAutomaticosHttpPostIn" />
  <wsdl:message name="ReportesAutomaticosHttpPostOut" />
  <wsdl:portType name="wsReportesAutomaticoSoap">
    <wsdl:operation name="RegistrarLogEventoSistema">
      <wsdl:input message="tns:RegistrarLogEventoSistemaSoapIn" />
      <wsdl:output message="tns:RegistrarLogEventoSistemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogEnvio">
      <wsdl:input message="tns:RegistrarLogEnvioSoapIn" />
      <wsdl:output message="tns:RegistrarLogEnvioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogProcesosAutomaticos">
      <wsdl:input message="tns:RegistrarLogProcesosAutomaticosSoapIn" />
      <wsdl:output message="tns:RegistrarLogProcesosAutomaticosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarLogProcesosAutomaticos">
      <wsdl:input message="tns:ActualizarLogProcesosAutomaticosSoapIn" />
      <wsdl:output message="tns:ActualizarLogProcesosAutomaticosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFuncionarios">
      <wsdl:input message="tns:GetFuncionariosSoapIn" />
      <wsdl:output message="tns:GetFuncionariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarReporteAutomaticoByFuncionario">
      <wsdl:input message="tns:EnviarReporteAutomaticoByFuncionarioSoapIn" />
      <wsdl:output message="tns:EnviarReporteAutomaticoByFuncionarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportesAutomaticos">
      <wsdl:input message="tns:ReportesAutomaticosSoapIn" />
      <wsdl:output message="tns:ReportesAutomaticosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsReportesAutomaticoHttpGet">
    <wsdl:operation name="RegistrarLogEventoSistema">
      <wsdl:input message="tns:RegistrarLogEventoSistemaHttpGetIn" />
      <wsdl:output message="tns:RegistrarLogEventoSistemaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogEnvio">
      <wsdl:input message="tns:RegistrarLogEnvioHttpGetIn" />
      <wsdl:output message="tns:RegistrarLogEnvioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogProcesosAutomaticos">
      <wsdl:input message="tns:RegistrarLogProcesosAutomaticosHttpGetIn" />
      <wsdl:output message="tns:RegistrarLogProcesosAutomaticosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarLogProcesosAutomaticos">
      <wsdl:input message="tns:ActualizarLogProcesosAutomaticosHttpGetIn" />
      <wsdl:output message="tns:ActualizarLogProcesosAutomaticosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFuncionarios">
      <wsdl:input message="tns:GetFuncionariosHttpGetIn" />
      <wsdl:output message="tns:GetFuncionariosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportesAutomaticos">
      <wsdl:input message="tns:ReportesAutomaticosHttpGetIn" />
      <wsdl:output message="tns:ReportesAutomaticosHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsReportesAutomaticoHttpPost">
    <wsdl:operation name="RegistrarLogEventoSistema">
      <wsdl:input message="tns:RegistrarLogEventoSistemaHttpPostIn" />
      <wsdl:output message="tns:RegistrarLogEventoSistemaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogEnvio">
      <wsdl:input message="tns:RegistrarLogEnvioHttpPostIn" />
      <wsdl:output message="tns:RegistrarLogEnvioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogProcesosAutomaticos">
      <wsdl:input message="tns:RegistrarLogProcesosAutomaticosHttpPostIn" />
      <wsdl:output message="tns:RegistrarLogProcesosAutomaticosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarLogProcesosAutomaticos">
      <wsdl:input message="tns:ActualizarLogProcesosAutomaticosHttpPostIn" />
      <wsdl:output message="tns:ActualizarLogProcesosAutomaticosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFuncionarios">
      <wsdl:input message="tns:GetFuncionariosHttpPostIn" />
      <wsdl:output message="tns:GetFuncionariosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportesAutomaticos">
      <wsdl:input message="tns:ReportesAutomaticosHttpPostIn" />
      <wsdl:output message="tns:ReportesAutomaticosHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsReportesAutomaticoSoap" type="tns:wsReportesAutomaticoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarLogEventoSistema">
      <soap:operation soapAction="http://tempuri.org/RegistrarLogEventoSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogEnvio">
      <soap:operation soapAction="http://tempuri.org/RegistrarLogEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogProcesosAutomaticos">
      <soap:operation soapAction="http://tempuri.org/RegistrarLogProcesosAutomaticos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarLogProcesosAutomaticos">
      <soap:operation soapAction="http://tempuri.org/ActualizarLogProcesosAutomaticos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFuncionarios">
      <soap:operation soapAction="http://tempuri.org/GetFuncionarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarReporteAutomaticoByFuncionario">
      <soap:operation soapAction="http://tempuri.org/EnviarReporteAutomaticoByFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportesAutomaticos">
      <soap:operation soapAction="http://tempuri.org/ReportesAutomaticos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsReportesAutomaticoSoap12" type="tns:wsReportesAutomaticoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarLogEventoSistema">
      <soap12:operation soapAction="http://tempuri.org/RegistrarLogEventoSistema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogEnvio">
      <soap12:operation soapAction="http://tempuri.org/RegistrarLogEnvio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogProcesosAutomaticos">
      <soap12:operation soapAction="http://tempuri.org/RegistrarLogProcesosAutomaticos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarLogProcesosAutomaticos">
      <soap12:operation soapAction="http://tempuri.org/ActualizarLogProcesosAutomaticos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFuncionarios">
      <soap12:operation soapAction="http://tempuri.org/GetFuncionarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarReporteAutomaticoByFuncionario">
      <soap12:operation soapAction="http://tempuri.org/EnviarReporteAutomaticoByFuncionario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportesAutomaticos">
      <soap12:operation soapAction="http://tempuri.org/ReportesAutomaticos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsReportesAutomaticoHttpGet" type="tns:wsReportesAutomaticoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RegistrarLogEventoSistema">
      <http:operation location="/RegistrarLogEventoSistema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogEnvio">
      <http:operation location="/RegistrarLogEnvio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogProcesosAutomaticos">
      <http:operation location="/RegistrarLogProcesosAutomaticos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarLogProcesosAutomaticos">
      <http:operation location="/ActualizarLogProcesosAutomaticos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFuncionarios">
      <http:operation location="/GetFuncionarios" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportesAutomaticos">
      <http:operation location="/ReportesAutomaticos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsReportesAutomaticoHttpPost" type="tns:wsReportesAutomaticoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RegistrarLogEventoSistema">
      <http:operation location="/RegistrarLogEventoSistema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogEnvio">
      <http:operation location="/RegistrarLogEnvio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLogProcesosAutomaticos">
      <http:operation location="/RegistrarLogProcesosAutomaticos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarLogProcesosAutomaticos">
      <http:operation location="/ActualizarLogProcesosAutomaticos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFuncionarios">
      <http:operation location="/GetFuncionarios" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportesAutomaticos">
      <http:operation location="/ReportesAutomaticos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsReportesAutomatico">
    <wsdl:port name="wsReportesAutomaticoSoap" binding="tns:wsReportesAutomaticoSoap">
      <soap:address location="http://localhost/WSBIFConveniosDES/wsReportesAutomatico.asmx" />
    </wsdl:port>
    <wsdl:port name="wsReportesAutomaticoSoap12" binding="tns:wsReportesAutomaticoSoap12">
      <soap12:address location="http://localhost/WSBIFConveniosDES/wsReportesAutomatico.asmx" />
    </wsdl:port>
    <wsdl:port name="wsReportesAutomaticoHttpGet" binding="tns:wsReportesAutomaticoHttpGet">
      <http:address location="http://localhost/WSBIFConveniosDES/wsReportesAutomatico.asmx" />
    </wsdl:port>
    <wsdl:port name="wsReportesAutomaticoHttpPost" binding="tns:wsReportesAutomaticoHttpPost">
      <http:address location="http://localhost/WSBIFConveniosDES/wsReportesAutomatico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>